html {
    background-color: #000;
}
body {
    background-color: #000;
}

#doc {
    background-color: #000;
}

#bd {
    color: #33F;
    font-size: 189%;
}

#hd {
    background-color: #000;
    letter-spacing:-2;
    overflow: visible;
}

#hd h1 {
    color: #33F;
    font-size: 500%;
    padding: 0.5%;
    margin: 0.5%;
    text-align: center;
    font-variant: small-caps;
}

#bd ul li {
    padding: 3%;
    list-style-type: none;
    border: #000 solid 1px;
    margin: 1%;
    background-color: #006;
    font-size:197%;
}
