{% extends "lie_base.html" %}

{% block title %}All Lies{% endblock %}


{%block content %}
        <div id="new_lie">
            <form id='lie_submit' action='' method='POST'>
                {{ form.as_table }}
                <input id="add_lie_submit" type="submit" value="Add"/>
            </form>
        </div>
        <ul id="lie_list">
        {% for lie in object_list %}
            <li id="lie_{{lie.id}}" class="lie_item"><span class="vote_total">{{ lie.vote_total }}</span><span class="lie">{{ lie.lie }}</span></li>
        {% endfor %}
        </ul>
        <div id="vote" >
            <a href="" id="vote_up" class="vote_action"><img src="http://media.lieswetellourselves.com/up-thumb.png"/></a>   <!--a href="" id="vote_down" class="vote_action"><img src="http://media.lieswetellourselves.com/down-thumb.png"/></a-->
        </div>
{% endblock %}
