{% extends "lie_base.html" %}

{% block title %}All Lies{% endblock %}


{%block content %}
        <ul id="lie_list">
            <li id="new_lie" class="lie_item">
                {{ form.as_table }}
                <input id="add_lie_submit" type="submit" value="Add"/>
            </li>
        {% for lie in object_list %}
            <li id="lie_{{lie.id}}" class="lie_item"><span class="vote_total">{{ lie.vote_total }}</span><span class="lie">{{ lie.lie }}</span></li>
        {% endfor %}
        </ul>
        <div id="vote" style="visibility:hidden;z-index=2;position:absolute;">
            <a href="" id="vote_up" class="vote_action"><img src="/site_media/up-thumb.png"/></a>   <a href="" id="vote_down" class="vote_action"><img src="/site_media/down-thumb.png"/></a>
        </div>
{% endblock %}
