<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <title>{% block title %}{% endblock%}</title>
        <!-- css -->
        <link rel="stylesheet" type="text/css" href="{{ media_url }}reset-fonts-grids.css">
        <link rel="stylesheet" type="text/css" href="{{ media_url }}base-min.css">
        <link rel="stylesheet" type="text/css" href="{{ media_url }}lies.css">
        <!-- js -->
        <script type="text/javascript" src="{{ media_url }}yahoo-dom-event.js"></script>
        <script type="text/javascript" src="{{ media_url }}animation-min.js"></script>
        <script type="text/javascript" src="{{ media_url }}connection-min.js"></script>
        <script type="text/javascript" src="{{ media_url }}json-min.js"></script>
        <script type="text/javascript" src="{{ media_url }}lies.js"></script>
    </head>
    <body>
        <div id="doc">
            <div id="hd">
                <h1>LiesWeTellOurselves</h1>
            </div>
            <div id="bd">
                <div id="yui-main">
                <div class="yui-b">
                <div id="description">
                    What lies do you tell yourself? Enter them below or vote on lies others have entered.
                </div>
                <div id="message"></div>
                    {% block content %}{% endblock %}
                </div>
                </div>
            </div>
            <div id="ft">
                <p>Created by Joe Erickson</p>
                <ul>
                    <li><a href="http://www.firstclown.us/about-me/">About Me</a></li>
                    <li><a href="http://www.firstclown.us/">Blog</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
