<html>
    <head>
        <title>{% block title %}{% endblock%}</title>
        <!-- css -->
        <link rel="stylesheet" type="text/css" href="/site_media/reset-fonts-grids.css">
        <link rel="stylesheet" type="text/css" href="/site_media/base-min.css">
        <link rel="stylesheet" type="text/css" href="/site_media/lies.css"/>
        <!-- js -->
        <script type="text/javascript" src="/site_media/yahoo-dom-event.js"></script>
        <script type="text/javascript" src="/site_media/animation-min.js"></script>
        <script type="text/javascript" src="/site_media/connection-min.js"></script>
        <script type="text/javascript" src="/site_media/json-min.js"></script>
        <script type="text/javascript" src="/site_media/lies.js"></script>
    </head>
    <body>
        <div id="doc">
            <div id="hd">
                <h1>LiesWeTellOurselves</h1>
            </div>
            <div id="bd">
                <div id="yui-main">
                <div class="yui-b">
                <div id="message"></div>
                    {% block content %}{% endblock %}
                </div>
                </div>
            </div>
            <div id="ft">
                Copyright me
            </div>
        </div>
    </body>
</html>
